form{
  width: 500px;
  margin:auto;
  padding: 20px;
  background: #663366;
  font-size: 20px;
  font-family: verdana;
  color: white;
}
input[type =text]{
  width: 80%;
  padding: 5px;
  font-size: 18px;
}
input[type =submit]{
  padding: 5px;
  font-size: 20px;
  width: 100px;
}
h1{
  color: green;
  text-align: center;
}
h2{
  color: red;
  text-align: center;
}
body{
  background-color: lightblue;
}
h3{
  text-align: center;
  color:purple
}
p {
  color: blueviolet;
  font-style: inherit
  font-size: 70px;
}
